
body {
   
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
     
}



 

 

 .nav_bar:hover {

    -webkit-box-shadow: rgba (0,0,0,0.5);
    -moz-box-shadow: rgba (0,0,0,0.5);
    -o-box-shadow: rgba (0,0,0,0.5);
    box-shadow: rgba (0,0,0,0.5);
 }  

.contenido_nav{

font-size: 1em;
list-style: none;
display:flex;

}

.contenido_nav .nav_items a {
    text-decoration: none;
}

a:hover {
    color: #ab07b1;
   
}

a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

#icono_nav{

    margin: auto;
    display: flex; 
    
    padding-bottom: 50px;
   }

.nav_items { 

    margin-left: 1px;
    margin: 0;
    padding: 0;


}

.nav_bar {
    background: rgb(0, 0, 0);
    width: 100%;
}

.contenido_nav .nav_items {

    margin-left: 5px;
    display: block;
}

.sticky_bar {

    position: fixed;
    z-index: 1;
    height:50px ;
    width: 100% ;

        



}




#icono_nav {

    margin-top: 5px;
    filter: invert(100%);
    opacity:0.8 ;
    margin-bottom: 1.5em;
    position: relative;
  
}
.sticky_bar{
    height: 70px;
}    


        /* Inicio @media query */


        @media only screen and (max-width: 1965px)  {
            .container {
                padding: 2px 16px;
                display: flex;
              }

            .contenido_nav .nav_items {
             font-size:  1.8em;
            
             margin: auto;
        
            }
        
            #icono_nav {
        width: 300px;
        height: 300px;
        margin-bottom: 50px;
        filter: invert(100%);
        
            }
            #main_container {
                height: 100vh;
                display: flex;
                align-items:center ;    
                justify-content: center;
               
                
            }
            
            .imagen_fondo {
                height: 100vh;
                width: 100%;
                height:100%;
                
                
            
            
               
            }
            
            #mensaje_img {
                position: absolute;
                left:20%;
                top:50%;
                color: white;
                
            
        
        }       


 
@media only screen and (max-width: 1920px)  {
    
    .card img {

        height: 100vh;
        width: 75%;
        height:75%;
        padding-left: 10px;
    }
    .contenido_nav .nav_items {
     font-size:  1.8em;
    
     margin: auto;

    }

    #icono_nav {
    width: 300px;
    height: 300px;
    margin-bottom: 50px;
    filter: invert(100%);

    }
    #main_container {
        height: 100vh;
        display: flex;
        align-items:center ;    
        justify-content: center;
       
        
    }
    
    .imagen_fondo {
        height: 100vh;
        width: 100%;
        height:100%;
        
        
    
    
       
    }
    
    #mensaje_img {
        position: absolute;
        left:20%;
        top:50%;
        color: white;
        
    

}       

@media only screen and (max-width: 1366px)  {

    .card img {

        height: 100vh;
        width: 70%;
        height:70%;
        padding-left: 5px;
        
    }

    .contenido_nav .nav_items {
     font-size:  1.6em;
    
     margin: auto;

    }
    #icono_nav {
        width: 280px;
        height: 280px;
        margin-bottom: 20px;
       
        
            }
        
        .sticky_bar{
            height: 65px;
        }  
        
        #main_container {
            height: 100vh;
            display: flex;
            align-items:center ;    
            justify-content: center;
           
            
        }
        
        .imagen_fondo {
            height: 100vh;
            width: 100%;
            height:100%;
            
            
        
        
           
        }
        
        #mensaje_img {
            position: absolute;
            left:20%;
            top:50%;
            color: white;
            
        
}


@media only screen and (max-width: 768px)  {

    .contenido_nav .nav_items {
     font-size:  0.9em;
     padding: 8px;
     margin:auto;
      
     

    }
    .card img {

        height: 100vh;
        width: 75%;
        height:75%;
        
    }

    #icono_nav {
        width: 230px;
        height: 230px;
        margin-top: 20px;
        
            }
        
        .sticky_bar{
            height: 60px;
        }    
    
        #main_container {
            height: 100vh;
            display: flex;
            align-items:center ;    
            justify-content: center;
           
            
        }
        
        .imagen_fondo {
            height: 100vh;
            width: 100%;
            height:100%;
        
        }
        
        #mensaje_img {
            position: absolute;
            left:20%;
            top:50%;
            color: white;
       
}

@media only screen and (max-width: 376px)  {

    .card img {

        height: 100vh;
        width: 55%;
        height:55%;
        
    }


    .contenido_nav .nav_items {
     font-size:  0.7em;
     padding: 5px;
     margin:auto;
    padding-top: 7px;
   
    }

    #main_container {
        height: 100vh;
        display: flex;
        align-items:center ;    
        justify-content: center;       
        
    }
    
    .imagen_fondo {
        height: 100vh;
        width: 100%;
        height:100%;    
          
    }
    
    #mensaje_img {
        position: absolute;
        right:15%;
        top:50%;
        color: white;
        margin:0 0;
        
        
}


    #icono_nav {
        width: 180px;
        height: 180px;
        margin-top: 15px;
        margin-bottom: 1.5em;
        
            }
        
        .sticky_bar{
            height: 55px;
        }  

        
        
        
      .container {
        width: 100%;
      padding: 3px 16px;
      display: flex;
    }

/* Fin @media query  */

/* Fin Nav */



/* Inicio Contenido */



#main_container {
    height: 100vh;
    display: flex;
    align-items:center ;    
    justify-content: center;
   
    
}

.imagen_fondo {
    height: 100vh;
    width: 100%;
    height:100%;
       
}

#mensaje_img {
    position: absolute;
    left:20%;
    top:50%;
    color: white;
    padding-top: 1em;
   
}

.card{
    margin:50%;
}

.container {
    display: flex
    ;
}


.container .card {

    margin-left:auto; 
    margin-right:auto;
    }

    .container img {

        width: 300px;
        height:169px;
        border-radius: 5px 5px 0 0;
    }

    .card {

        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
      }
      

      .card:hover {
        box-shadow:  rgba(0,0,0,0.2);
      }
      
  
      .container {
          width: 100%;
        padding: 3px 16px;
        display: flex;
        height: 100vh;
        width: 100%;
        height:100%;
        

        
      }

      .card p {

        text-align: center;
        justify-content: center;
      }
